*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form-container {
    width: 60%;
    margin: 0 auto;
}
.form-container textarea {
    width: 100%;
    height: 150px;
}
a {
    text-decoration: none;
}